app-id: com.gitlab.inendi.Inspector
runtime: org.freedesktop.Platform
runtime-version: '22.08'
sdk: org.freedesktop.Sdk
command: inspector_launcher.sh
finish-args:
  - --socket=x11
  - --share=network
  - --share=ipc
  - --filesystem=host
  - --filesystem=/opt/inendi
  - --filesystem=~/.inendi
  - --filesystem=/tmp
  - --device=dri
modules:
  - name: inendi-inspector
    buildsystem: simple
    build-commands:
      - cp -r files/* /app
    sources:
      - type: archive
        url: https://inendi.gitlab.io/inspector/inendi-inspector_flatpak_{{version}}.tar.xz
        sha256: {{sha256}}